@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.container{
  width: 1351px;
}
.wrapper{
  max-width: 700px;
  margin: 0 auto;
}
header{
  padding: 5px;
  background-color: rgb(33, 33, 33);
}
h1{
  text-indent: -9999px;
  display: inline-block;
  width: 16%;
}
h1 a{
  text-indent: 0;
  float: left;
}
nav{
  display: inline-block;
  width: 52%;
  float: right;
}
nav a{
  color: white;
  padding: 0 5px;
  font-size: 12px; 
  font-family: serif;
}
nav a:first-of-type{
  text-transform: capitalize;
}
.active{
  color: rgb(40, 108, 84);
}
/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.main-banner figure{
  position: relative;
}
.banner-content{
  position: absolute;
  top: 250px;
  right: 362px;
  bottom: 250px;
  left:362px;
}
.banner-content h2{
  text-transform: uppercase;
  font-size: 5.5em;
  font-family: serif;
  font-weight: bold;
  color: white;
}
.banner-content span{
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 100px;
  color: white;
  word-spacing: 10px
}
.banner-content a{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 4px;
  border:2px solid rgb(62, 204, 181);
  border-radius: 1px;
  background-color:rgb(62, 204, 181);
  color: white;
  padding: 10px 25px;
  outline-style: none;
  margin-left: 40%;
  margin-top: 20px;
}
/* banner styles ends */
/* about us styles starts */
.about-us{
  background: url('https://via.placeholder.com/1351x580');
  width: 1351px;
  height: 580px;
}
.about-us article{
  background-color: white;
  width: 440px;
  height: 410px;
  text-align: center;
  margin: 0 auto;
}
h3{
  text-transform: uppercase;
  font-size: 35px;
  font-family: serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 30px;
  
}
.about-us p{
  text-indent: 15px;
  padding: 10px;
}
/* about us styles ends */
/* spaces section starts */
.spaces{
text-align: center;
color: white;
background-color: rgb(62, 204, 181);
padding-bottom: 40px;

}
.spaces h3{ 
margin-bottom: -20px;
}
.spaces span{
  font-size: 12px;
}
.spaces a{
  text-decoration: none;
  color: white;
}
.gallery li{
  display: inline-block;
  width: 673px;
}
/* spaces section ends */
/* contact us section starts */
.contact-us{
  background: url('https://via.placeholder.com/1351x382');
  width: 1351px;
  height: 382px;
}
.contact-content{
  text-align: center;
}
.contact-content a{
  text-decoration: none;
  color: teal;
}
.contact-content a::before{
  content:"  ";
  border: 1px solid black;
  height: 10px;
}
.subscribe{
  margin:30px;
  color: teal;
}
input[type="email"]{
  padding-right: 50px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
input[type="submit"]{
font-size: 12px;
border:2px solid rgb(62, 204, 181);
border-radius: 1px;
background-color:rgb(62, 204, 181);
color: white;
padding: 4px 80px;
outline-style: none;
}
/* contact us section ends */
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/ 
footer{
  background-color: rgb(51, 51, 51);
  padding: 16px;
}
footer span{
  display: inline-block;
  color: rgb(152, 152, 152);
  font-size: 15px;
}
footer ul{
  display: inline-block;
  float: right;
}
footer a{
  text-decoration: none;
  color: rgb(152, 152, 152);
}
.twitter {
  text-indent: -9999px;
}
.twitter::before{
  content: "\f099";
  font-family: fontAwesome;
  text-indent: 0;
  float: right;
}
.facebook {
  text-indent: -9999px;
}
.facebook::before{
  content: "\f39e";
  font-family: fontAwesome;
  text-indent: 0;
  float: right;
}
.google{
  text-indent: -9999px;
}
.google::before{
  content: "\f0d5";
  font-family: fontAwesome;
  text-indent: 0;
  float: right;
}
.instagram {
  text-indent: -9999px;
}
.instagram::before{
  content: "\f16d";
  font-family: fontAwesome;
  text-indent: 0;
  float: right;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  